

.Eco-Font{
    color:gray;
    font-family:'Times New Roman', Times, serif; 
    font-size: x-large;
    text-align: center;
}

.Fuente-General
{
    font-size: 13px;
    text-align: justify;

}
.Fuente-Titulos
{
    font-size: 18px;
    text-align: center;
    font-weight: bold;
}

.Images-Carrusel{
    width: 100%; 
    height: 200px;
}

.Contenedor-Alto{
    width: 100%; 
    height: 234px;
}

.Nav-Menu{
    color: orange;
    font-size: medium;
}

.Body-Main{
    position: relative;
    background-color: rgb(196, 203, 207);
    width: 75%;
    margin-left: 10% ;
    margin-right: 10%;
    text-align: left;

}
